{% extends 'base.html' %}
{% load markup %}
{% load typogrify %}
{% load unslug %}

{% block pagetitle %}<h1>{{page.title}}</h1>{% endblock %}

{% block tags %}{% if page.tags %}
TAGS: {% for tag in page.tags %}<a href="/tag/{{tag}}/">{{tag}}</a> {% endfor %}
{% endif %}
{% endblock %}



{% block content %}
{% if exists %}

{% if not edit %}
<div id="editlink">[<a href="?edit=1">edit</a>]</div>

{% filter typogrify %}
{{page.linked_body|markdown}}
{% endfilter %}



{% else %}

<form action="." method="post">
<table width="100%">
<tr><th>slug</th><td><input type="text" name="slug" value="{{page.slug}}"/></tr>
<tr><th>title</th><td><input type="text" name="title" value="{{page.title}}"/></tr>
<tr><th>body</th><td>
<textarea name="body" cols="70" rows="10" style="width: 96%">{{page.body}}</textarea>
</td></tr>
<tr><th>tags</th><td><input type="text" name="tags" value="{{page.tags_string}}"/></td></tr>
</table>
<input type="submit" value="save" />
</form>


{% endif %}

{% else %}

<form action="." method="post">
<table width="100%">
<tr><th>slug</th><td><input type="text" name="slug" value="{{slug}}"/></td></tr>
<tr><th>title</th><td><input type="text" name="title" value="{{slug|unslugify}}"/></td></tr>
<tr><th>body</th><td>
<textarea name="body" cols="70" rows="10" style="width: 96%"></textarea>
</td></tr>
<tr><th>tags</th><td><input type="text" name="tags" /></td></tr>
</table>
<input type="submit" value="save" />
</form>
{% endif %}
{% endblock %}
